<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Enable internal debugging if needed -->
	<!-- <internalLogLevel>info</internalLogLevel>
  <internalLogFile>internal-nlog.txt</internalLogFile> -->

	<targets>
		<!-- Console target (clean multiline-friendly layout) -->
		<target name="console" xsi:type="Console">
			<layout>
				${newline}${longdate} | ${level:uppercase=true} | ${logger}${newline}${message}${newline}
			</layout>
		</target>

		<!-- Optional: File target for reports -->
		<target name="file" xsi:type="File" fileName="logs/portfolio-report.log" keepFileOpen="false" concurrentWrites="true">
			<layout>
				${newline}${longdate} | ${level:uppercase=true} | ${logger}${newline}${message}${newline}
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="console,file" />
	</rules>
</nlog>